[2021-05-07 16:14] mattddowney opened #11 "Docker container fails to build"
When running the docker compose instructions from the infrastructure repo, the webapp container fails to build:

[code]

The issue is that the latest version of alpine no longer contains a package named python, we must use python3.

[2021-05-07 16:17] davehorton commented on #11
if you were successful with python3 would you like to give me a PR?

[2021-05-07 16:17] #11 closed

[2021-08-16 08:35] jontyk opened #18 "Generating webhook secrets not possible in creation of new account workflow"
Generating webhook secrets not possible in creation of new account workflow
Possible to hack around by modifying webapp to send an accountSid of 0 if there is no account sid, then modified the API to still be able to generate a new webhook secret even if the specified account doesn't exist.

See hacky work around:
[api-server.txt](https://github.com/jambonz/jambonz-webapp/files/6990873/api-server.

[2021-08-16 12:26] davehorton commented on #18
Please pull the latest jambonz-api-server, which fixes this issue in [this commit](https://github.com/jambonz/jambonz-api-server/commit/ecdf9898f827b356ecde909baddf378ceb8d398f)

[2021-08-16 12:32] #18 closed

[2021-10-04 12:55] sammachin opened #26 "Can't delete outbound config from carrier"
If I try to delete the row from the carrier config it does that fine, click save and it returns to the list of carriers.
However the outbound item is still showing if I go back into the carrier or on the number of connections.

[2021-10-05 15:00] kitajchuk commented on #26
@sammachin I cannot seem to replicate this issue, or perhaps I need more information provided. Maybe more exact steps to reproduce, some screenshots or recordings?

Here's a recording I made using the latest source code on the `main` branch:

https://user-images.githubusercontent.com/438711/136048768-6342baf6-7ff2-4f00-bd60-84a43999e4d4.mp4

I was able to add/edit my carrier and delete the outboun

[2021-10-05 15:37] sammachin commented on #26
This is what I'm seeing
https://cdn.zappy.app/7938b2ea94443ac95aa446951b889537.mp4

On Tue, Oct 5, 2021 at 4:00 PM Brandon Lee Kitajchuk <
***@***.***> wrote:

[2021-10-05 22:07] kitajchuk commented on #26
@sammachin It looks like you're using the hosted version, not the open source version. You'll notice the difference in the UI between the two videos (yours and mine). You'll want to open the issue for this repository:

https://github.com/jambonz/jambonz-webapp-com

[2021-10-05 22:51] kitajchuk commented on #26
@sammachin @davehorton I realize now that this *open source* repo is serving as the proxy for opening issues for the private *hosted* version repo. I've put up a PR on the *hosted* version that fixes this issue. @davehorton please review and let me know what you think. It's a pretty simple PR:

https://github.com/jambonz/jambonz-webapp-com/pull/45

[2021-10-06 13:35] ajamous opened #27 "primary key webhook_sid is immutable"
When you try to update HTTP Digest auth for an existing Registration webhook, error: ```primary key webhook_sid is immutable``` appears.

<img width="1117" alt="Screen Shot 2021-10-06 at 4 33 02 PM" src="https://user-images.githubusercontent.com/19316784/136213095-c001aed3-b0fa-443e-8e73-a0d81294bd6f.png">

The only work around is to delete and re-add.

[2021-11-03 20:11] davehorton opened #30 "cant delete speech credential"
no error but credential is not deleted.  no api call is made

[2022-01-13 13:09] akirilyuk opened #36 "Clicking on add account in Accounts page triggers an error message."
Hi, I noticed a weird behaviour when working the Jambonz Admin portal.

Clicking on add account will result in an error message. No errors can be observed in the network tab, however there seems to be a JS issue in the console.

Repro steps:

1. Login into the Jambonz Admin portal
2. Go to the Accounts page
3. Click on add account
4. A error message is prompted, after which the Add Account page is

[2022-02-23 03:33] kitajchuk opened #43 "Todo: Fix webpack issues currently active on the project"
These issues are present in the webpack pipeline for local dev server and when building for production. They should be easy to fix so I am making an issue here to track so we can do so 👍.

I'm not sure what introduced the `less` files (something in `antd`) but it's a file loader issue and it doesn't look like Create React App supports less loading out of the box...

The ESLint warnings are easy to

[2022-03-22 12:07] davehorton opened #44 ""Choose File" button hidden on FF 98.01"
When trying to upload a google speech json file using Firefox, the "Choose File" button is hidden for some reason

![image](https://user-images.githubusercontent.com/1884973/159478372-394eb675-9117-4092-8a01-4590ae21bc08.png)

[2022-04-18 13:47] #26 closed

[2022-04-18 14:13] davehorton opened #49 "Add region dropdown when creating an AWS speech credential"
Currently, when adding a speech credential for AWS the user is prompted only for access key and secret access key (see below).

![image](https://user-images.githubusercontent.com/1884973/163818166-b778f613-80a0-4bdb-ab7e-6bea5f740f36.png)

An additional dropdown for should appear below the "secret access key" field with a Label "Region:".  The dropdown values can be found [in this file](https://gi

[2022-04-20 19:48] cluzier commented on #43
I was able to clean up the terminal in #50 on branch `aws_regions`.

[2022-04-21 17:33] #49 closed

[2022-04-27 18:24] davehorton opened #52 "Change vendor list in Speech Service to dropdown"
The list of vendors in Add/Edit Speech Service is currently represented by radio buttons:
![image](https://user-images.githubusercontent.com/1884973/165594038-dee59c4f-4a48-4561-8fb9-9ef90cf928b4.png)

As we add more vendors this will become unwieldly.  The vendor selection should be changed to a dropdown.

[2022-04-27 18:35] #36 closed

[2022-04-27 18:36] #30 closed

[2022-04-28 23:51] cluzier commented on #44
This seems to be an issue with Firefox browser version.
Seems to be displaying the button on a newer version (currently running: 99.0.1)

Possible fix: display some sort of notification when viewing the web-app on Firefox version < 99.0.1 to tell the user that there may be issues viewing the app using their version of Firefox or to suggest updating their Firefox version.

[2022-05-07 00:37] #52 closed

[2022-05-07 00:47] davehorton opened #54 "Feature: Settings panel should include Add/View/Delete api keys for the service provider"
The Edit Account panel allows the user to add api keys for the given account:

![image](https://user-images.githubusercontent.com/1884973/167230939-afa84c47-21cf-4fe1-8d20-186c0be6b8f4.png)

The api keys created here are associated with the account (via api_keys.account_sid in the database).

It is also true that api keys can be associated with a service provider, rather than an account.  In that

[2022-05-16 17:48] davehorton commented on #54
added in v0.7.5-rc15

[2022-05-16 17:48] #54 closed

[2022-05-23 18:17] davehorton opened #57 "Issues adding trunk and phone number to service provider with no accounts"
Steps to recreate:

1. create a new service provider (SP) in the portal
2. create a new carrier for that service provider

**Problem**: after saving the carrier, the carrier list is empty.  It should show the carrier you just created

Now, if you did the steps this way, the problem does not occur:

1. create a new service provider in the portal
2. create a new account within that service provider

[2022-05-23 19:53] khanghugo commented on #57
This issue comes from this one line.
https://github.com/jambonz/jambonz-webapp/blob/bb335d08387d20706ec0308f3cfd4cf098563ea1/src/components/pages/internal/CarriersList.js#L107

Simply removing it will fix this problem.

However, I am not sure why it is there at the first place. There should be a reason why it is there at the first place. So there is something about it that we can work toward it.

[2022-05-23 20:42] khanghugo commented on #57
From this, I also discovered that this line is called twice when there is no accounts but once when there is an account.
https://github.com/jambonz/jambonz-webapp/blob/bb335d08387d20706ec0308f3cfd4cf098563ea1/src/components/pages/internal/CarriersList.js#L95

It is also safe to assume that some other methods on higher levels are also repeating. That seems like somewhere to fix also, maybe a bit mi

[2022-05-25 14:03] davehorton opened #59 "Microsoft Azure speech region list needs to be updated"
The latest list is [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions#speech-to-text-pronunciation-assessment-text-to-speech-and-translation)

We should update [this code](https://github.com/jambonz/jambonz-webapp/blob/main/src/data/AwsRegions.js) accordingly.

[2022-06-14 12:37] #59 closed

[2022-07-12 14:12] #43 closed

[2022-08-03 14:01] davehorton opened #66 "Add support for setting a SIPREC application at the account level"
We want to make change to the Add/Edit account panel to allow setting a new variable.  Currently, the panel looks like this:

![image](https://user-images.githubusercontent.com/1884973/182626897-158554af-8d1d-4816-b673-edd0aa01f15b.png)

What we want to do is add a new field right below "Application for SIP Device Calls".

In fact, we want it to be very similar.  It will be a field just like that

[2022-08-03 14:07] davehorton commented on #66
Also can yo make this UI change?  Right align the dropdown for "Application for SIP Device Calls" and then put the label on one line instead of two lines.  And please do the same with the new label and dropdown

[2022-08-03 14:08] khanghugo commented on #66
Got it.

[2022-08-08 13:33] #66 closed

[2022-08-10 20:54] kitajchuk opened #70 "Refresh: Applications view"
Implement functional parity for the `Applications` view form with the new UI style.

Create a branch from `refresh` called `refresh-applications` and submit a PR to the `refresh` branch. Please include this issue number (`#70`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/applica

[2022-08-10 20:56] kitajchuk opened #71 "Refresh: Carriers view"
Implement functional parity for the `Carriers` view form with the new UI style.

Create a branch from `refresh` called `refresh-carriers` and submit a PR to the `refresh` branch. Please include this issue number (`#71`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/carriers).

- [

[2022-08-10 20:57] kitajchuk opened #72 "Refresh: Speech Services view"
Implement functional parity for the `Speech Services` view form with the new UI style.

Create a branch from `refresh` called `refresh-speech-services` and submit a PR to the `refresh` branch. Please include this issue number (`#72`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/s

[2022-08-10 20:57] kitajchuk opened #73 "Refresh: Phone Numbers view"
Implement functional parity for the `Phone Numbers` view form with the new UI style.

Create a branch from `refresh` called `refresh-phone-numbers` and submit a PR to the `refresh` branch. Please include this issue number (`#73`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/phone

[2022-08-10 20:58] kitajchuk opened #74 "Refresh: MS Teams Tenants view"
Implement functional parity for the `MS Teams Tenants` view form with the new UI style.

Create a branch from `refresh` called `refresh-ms-teams-tenants` and submit a PR to the `refresh` branch. Please include this issue number (`#74`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views

[2022-08-10 21:01] kitajchuk opened #75 "Refresh: Recent Calls view"
Implement functional parity for the `Recent Calls` view form with the new UI style.

Create a branch from `refresh` called `refresh-recent-calls` and submit a PR to the `refresh` branch. Please include this issue number (`#75`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/recent-

[2022-08-10 21:03] kitajchuk opened #76 "Refresh: Alerts view"
Implement functional parity for the `Alerts` view form with the new UI style.

Create a branch from `refresh` called `refresh-alerts` and submit a PR to the `refresh` branch. Please include this issue number (`#76`) in the commit/PR message.

You can find the container stub for this view [here](https://github.com/jambonz/jambonz-webapp/tree/refresh/src/containers/internal/views/alerts). It already

[2022-08-15 20:55] kitajchuk opened #81 "Refresh: Applications list view account filter"
Just need to add this to the list view for applications after the add/edit flow is complete. @kitajchuk owes some design/UI reference for how to implement with the new style.

[2022-08-15 21:49] #81 closed

[2022-08-15 21:54] kitajchuk commented on #70
@khanghugo I've updated the issue information based on our discussions on the current PR review.

[2022-08-19 14:53] #70 closed

[2022-08-19 19:17] kitajchuk commented on #72
@khanghugo You will notice on this form that I prepped the vendor region selectors for Microsoft and AWS since I did this at the same time I did the speech stuff on the application view ahead of time. I also pre-built a generic file upload component since we need this for the google service key option. You will find a sample google service key JSON file in the `./server` directory of the project t

[2022-08-20 00:33] khanghugo commented on #72
Sure, this is getting way quicker. I think I can get one functional one by the end of the day, or maybe morning tomorrow. And for this time, I do double check a lot for parity.

[2022-08-23 19:59] #72 closed

[2022-08-24 23:17] #74 closed

[2022-08-24 23:18] #73 closed

[2022-08-24 23:27] kitajchuk commented on #71
@khanghugo I've merged the MS Teams Tenants and the Phone Numbers PRs. They were looking/feeling good so we can be done with those. This form is up next. I'd like to work out the UI styling for tabs but I don't want that to hold you up on getting started since this is a big form. Go ahead and get started knowing that we're going to have to implement some new UI styling and semantics for the tabs,

[2022-08-24 23:33] khanghugo commented on #71
Sure, I will have this one then.

[2022-08-25 14:04] khanghugo opened #88 ""invalid count value" for refresh's Speech Service view"
@kitajchuk

I just boot this up and tested a bit and this is not working well. I tried both typing and copy-pasting into the input field and it do be like that.

The SQL looks fine.

I can have some time with it later as soon as I finish some basic features for Carrier view.

The REST API is running on the other PR, not the main branch. Let see if that is the problem.

[2022-08-25 14:13] khanghugo commented on #88
I run on the main branch and only aws works while it reports other vendors are not on the list.

[2022-08-25 14:21] kitajchuk commented on #88
I tested all vendors and it works fine. Do you have a real Google service key? @davehorton gave me one to test with. I also used real AWS credentials but I don’t have Microsoft or wellsaid credentials to test with. Maybe more clarity documenting what isn’t working would be helpful here?

[2022-08-25 14:40] khanghugo commented on #88
I was testing with microsoft and wellsaid randomly typed api key. I did not tick mark any use so it doesn't test for anything. I will circle it back later and see what is wrong on my end.

[2022-08-25 14:44] kitajchuk commented on #88
Cool I’ll test again. Is the error a client side error or an api response error?

[2022-08-25 16:03] kitajchuk commented on #88
@khanghugo I recreated this issue by entering an api key that was two characters long. So, the bug is in the new obscuring code on the backend for the PR you have open. It's trying to perform string manipulation on too short of a string. This is similar to the bug I had on the client side runtime which I fixed by simply returning the original string from the obscuring function if its length was le

[2022-08-25 16:09] kitajchuk commented on #88
@khanghugo I'm closing this issue with the note that the error is fixed in our backend PR for obscuring the credentials which is where the bug was. Commit here so pull latest on this backend branch 👍

Commit: https://github.com/jambonz/jambonz-api-server/pull/59/commits/fc10aac31ac2e788cd9155bc5a5a39680873b7f4

[2022-08-25 16:09] #88 closed

[2022-08-25 21:19] kitajchuk commented on #71
@khanghugo I've decided to add the tabs to the `jambonz-ui` library so I have a PR up for that and there is a preview of the storybook deploy on Vercel:

PR: https://github.com/jambonz/jambonz-ui/pull/5
Preview: https://jambonz-ui-git-feature-tabs-jambonz.vercel.app/?path=/story/jambonz-ui-tabs--tabs-menu

This should be nice to use on the Carrier form 👍

[2022-08-25 21:32] khanghugo commented on #71
0.0.18 is not up on the registry. I guess I can do something else to have it.

[2022-08-25 21:38] kitajchuk commented on #71
Heh, ya, not yet. I'm going to tweak a few more things and then get it merged and published.

[2022-08-25 21:59] kitajchuk commented on #71
@khanghugo Okay version `0.0.18` is published. I added a `setActiveTab` prop to the main `Tabs` component which should provide enough utility to the Parent component for knowing which tab is active.

NPM: https://www.npmjs.com/package/jambonz-ui
Storybook docs: https://jambonz-ui.vercel.app/?path=/docs/jambonz-ui-tabs--tabs-menu

[2022-08-26 00:52] khanghugo commented on #71
:+1:

[2022-09-01 17:44] #71 closed

[2022-09-01 18:34] khanghugo commented on #75
How would you like to proceed with these? At best I can make it have all the functionalities but I don't think I can just test them out.

[2022-09-01 19:22] kitajchuk commented on #75
Ideally we can work with @davehorton to get the dev db seeded with a robust enough data set for this and alerts so we can properly build and test all filters 🤔. Dave and I have spoken about this a bit already so it’s definitely on his radar. This is all we have left so we can prioritize how to go about this.

[2022-09-01 20:02] kitajchuk opened #92 "Refresh: Carrier form custom validity"
**Overview:**

It’s possible to expand further upon our validation constraints implementation and provide even more UI indication, custom validators and custom messaging. This could completely eliminate the need for any custom React state error messaging with the `Message` component. Why? Because the logic performed to set those messages can be used instead to apply custom validation constraints a

[2022-09-02 00:22] kitajchuk commented on #75
@khanghugo I finished a functional local dev server with responses for Recent Calls so you can get started using that. It's fully supportive for the UI and I've tested even with the old web app (replacing the axios URLs with our dev server ones) and it's fully functional for that UI 👍. You should be able to build the UI with feature parity using this so give it a shot and just reach out with quest

[2022-09-02 16:56] khanghugo commented on #92
This is really interesting. How would you like getting started on this?

[2022-09-02 17:08] kitajchuk commented on #92
I would suggest waiting for later. This is labeled as an enhancement. We should prioritize the recent calls and alerts views so we can put a bow on this package 📦🙂

[2022-09-02 18:11] kitajchuk commented on #76
@khanghugo A functional dev server for this view is now complete as well so both this and recent calls are wide open for you to jam on 👍

Commit: https://github.com/jambonz/jambonz-webapp/pull/64/commits/f348da6709346bfeb3249593302ec2372e3336a0

[2022-09-07 13:20] khanghugo opened #96 "AccountFilter component for application view is not working properly"
For other views, it seems to work fine where it filters the list accordingly. But for the application view, not only the that selecting would not change the view but also makes the accountSid null, which hides the add button but at the same time does update the application list. Weirdly enough, the first option is not selectable and any valid option will visually change back to the first option wh

[2022-09-07 13:25] khanghugo commented on #96
I think there is going on with the `cleanup` function and I am not sure how it would play out there but simply removing it would make this works. But I am not sure why it is there so I am trying to understand its implication as of now.

[2022-09-07 16:22] khanghugo commented on #96
Fixed with 14498fe35d0f7e7a56a5ce8e78d0301b3d6a2c38

[2022-09-07 16:22] #96 closed

[2022-09-13 03:22] #75 closed

[2022-09-13 03:22] kitajchuk commented on #76
@khanghugo Recent calls has been merged so you can go ahead and utilize the cleaned up UI for this view 👍

[2022-09-13 05:26] khanghugo opened #98 "Recent call view shows no data if refreshed data has not enough data to fill up to the currently selected page"
This is a quick fix. I have it implemented in the alert view. We have to set the current page to 1 if we intend to change some of the filter. The payload's "page" value will stay the same if we don't do that, which there isn't enough page and the backend will return nothing.

In order to reproduce this, have 25/page filter, go to the latest page number, select higher per page filter value, it will

[2022-09-13 05:39] khanghugo opened #100 "Refresh: Pagination showing at least a number of button when at sides' ends"
Right now, when selected page is 1, it will show only 2, no 3 or 4. Hence, the number of shown buttons will move around and it can get annoying for that first few. I did really try to implement this with just boolean but the prettifier does not like what I do so I guess we can do something a bit more imperative for that.

[2022-09-13 16:28] khanghugo commented on #98
@kitajchuk

[2022-09-13 18:15] kitajchuk commented on #98
@khanghugo There's a flash of "No data" on recent calls when you do it that way and also have `perPageFilter` as a dep on the other `useEffect`. I'll push a fix on recent calls but I remove the `perPageFilter` from the other effect and added an `handleSelect` prop to the `SelectFilter` component so the call to `setPageNumber(1)` can be done there.

[2022-09-13 18:17] #98 closed

[2022-09-13 18:19] kitajchuk commented on #100
@khanghugo Not a bad call. Currently it functions quite similar to the old webapp but it could be nice to make it jump around less on the user 🤔

[2022-09-13 19:06] kitajchuk commented on #100
@khanghugo Another enhancement issue could be to support the query parameters in the URL address such that you could technically share a page of results and it would do an initial fetch with all the correct filters and pagination criteria 🤔

[2022-09-14 23:40] #76 closed

[2022-09-14 23:40] #100 closed

[2022-09-16 02:42] kitajchuk opened #102 "Feature: Configure cypress component testing"
Here’s some links. Cypress component testing could maybe suffice as a baseline for running basic tests and we can add the step to our GitHub actions `pr-checks`.

It would be interesting to figure out how to get a proper e2e testing suite set up. I don’t think it would be generally easy as it would require running the backend stack and the web app frontend for the suite 🤔.

- https://docs.cypress.

[2022-09-16 13:24] kitajchuk opened #103 "Refresh: Clean up stale branches"
You know—prune the remote 🤔

[2022-09-16 22:55] kitajchuk opened #104 "Bug: Phone numbers can be assigned an application that does not belong to the same account that the number/carrier belongs to"
You should only be able to assign an application to a phone number where the application belongs to the same account that the phone number/carrier belongs to (with the exception that the carrier can be associated to the account’s parent service provider).

Bug: currently you can assign a phone number to an application that does not belong to the same account that the phone number/carrier belongs t

[2022-09-17 15:08] kitajchuk opened #105 "Refresh: Carrier form applications incorrectly set"
Carrier form needs to use `useServiceProviderData` to fetch `Application[]` and also needs to filter them by `accountSid` when showing the application selector.

[2022-09-17 18:47] #105 closed

[2022-09-19 23:32] xquanluu commented on #104
Start working on this

[2022-09-20 01:34] kitajchuk commented on #104
@xquanluu I was meaning to document some implementation details for this I just hadn't gotten around to it. We essentially have examples of exactly how to make the changes we need to see here already on the carriers index so I'll document the necessary changes here so that we keep things DRY and follow like patterns. Hopefully you're not too far in to anything else or maybe you already stumbled on

[2022-09-20 03:30] khanghugo commented on #104
Hmmm, this was what I was talking about in the PR thread too, I believe. The old webapp does behave this way so I did have it in parity. Glad to see it gets clarified.

[2022-09-20 14:05] davehorton opened #109 "Feature: ability to specify an optional call limit at the account and service provider level"
There is a new feature we have added to the API that allows the system to limit the number of concurrent calls allowed for a given account and/or service provider.  To support this, there are two new tables:

[code]

There is new associated APIs:
[code]
swagger doc [here](https://github.com/jambonz/jambonz-api-server/blob/052a19cfdc36acb50d890d6b1d9e69b786f7212a/lib/swagger/swagger.yaml#L1858) and

[2022-09-20 14:12] davehorton commented on #109
The APIs are fully implemented on the main branch of jambonz-api-server so `npm run integration-test` should give what you need.  If an additional API is needed (for instance, a delete?) just let me know

[2022-09-20 14:30] kitajchuk commented on #109
@davehorton I checked out the Swagger docs running the latest from `main` locally for the API server and it looks like they don't clearly articulate the need to send/receive the `quantity` field. My understanding is we would be posting and fetching a small JSON payload that actually has the schema `{ category: string; quantity: number; }` correct?

<img width="542" alt="Screen Shot 2022-09-20 at 7

[2022-09-20 14:47] kitajchuk commented on #109
@davehorton I'm a little confused about the data model here. These APIs return arrays for the :GET request so is the long term realization that there would be a limit for each of the categories but for the moment we are only supporting the voice_call_session category?

[2022-09-20 15:38] davehorton commented on #109
you are right.....I will fix the swagger.  The api itself should work though as you described

[2022-09-20 16:03] davehorton commented on #109
yes, on the hosted platform we do limit on all 3 factors actually.  On the open source, right now we only have a requirement to limit on concurrent calls, and that is all I want to implement at the moment.

[2022-09-20 17:13] kitajchuk commented on #109
For future thinking of the app implementation, what would the labels be for `api_rate` and `device` given that `voice_call_session` uses the label "Max Concurrent Calls"?

[2022-09-20 18:00] davehorton commented on #109
api_rate = "Max api calls per minute"
device = "Max registered devices"

[2022-09-20 18:36] kitajchuk commented on #109
Cool. I played quickly on local dev to see and it looks like the api also returns a service provider sid or account sid respectively as well for a limit. I have a plan for how to implement this on the new app. As for the immediate need with the current app I may have time later unless @khanghugo or @xquanluu want to take a stab at that? It should be easy:

For settings add the limits fetch in the

[2022-09-20 20:18] khanghugo commented on #109
Sorry. I don't think I can make time for this as of now. @xquanluu feel free to chip in.

[2022-09-20 20:31] kitajchuk commented on #109
@davehorton There seems to be a bug in the backend API. I have two accounts locally and I created limits for my initial default account. However, my other account is returning the limits set for the default account even though this account actually has no limits set. It looks like there is missing some account_sid filtering on the backend 🤔?

<img width="1509" alt="Screen Shot 2022-09-20 at 1 27 4

[2022-09-20 20:35] davehorton commented on #109
er...will check

[2022-09-20 20:49] kitajchuk commented on #109
Cool cool.

[2022-09-20 20:57] davehorton commented on #109
ok I pushed a fix

[2022-09-20 22:17] xquanluu commented on #109
Start working on this.

[2022-09-20 22:26] kitajchuk commented on #109
Okay, that works now 👍 . I have this covered for the `refresh` branch.

[2022-09-21 01:58] #104 closed

[2022-09-21 12:23] davehorton commented on #109
It would be preferable that if there is no limit to start with (the field will appear blank) that we dont then post, because the sudden appearance of a zero in the field might confuse the user.

[2022-09-21 12:28] kitajchuk commented on #109
Ok cool. I’ll make that change 🤘

[2022-09-21 13:22] kitajchuk commented on #109
@davehorton Made that change so it looks like this now if nothing is entered and we don't post unless the user enters a value:

<img width="584" alt="Screen Shot 2022-09-21 at 6 19 05 AM" src="https://user-images.githubusercontent.com/438711/191515124-3808204f-ffcd-48d8-8d8e-3fd83ac52c29.png">

[2022-09-21 13:23] davehorton commented on #109
Nice!

[2022-09-21 16:25] kitajchuk commented on #109
Here's what it would look like with all three enabled. This is set up so all we have to do is uncomment some lines of code in a constant to enable more limit categories.

<img width="591" alt="Screen Shot 2022-09-21 at 9 23 56 AM" src="https://user-images.githubusercontent.com/438711/191559080-e9343c2f-2f55-4b6d-bf56-363003a6e91e.png">

<img width="499" alt="Screen Shot 2022-09-21 at 9 24 54 AM" s

[2022-09-21 20:34] kitajchuk commented on #109
@davehorton If I delete a ServiceProvider or an Account does the backend do the cleanup work to delete these limit entities as well? If not then it should. Otherwise we'd need a DELETE API, however I feel like it's cleaner for the backend to handle it...

Another question has to do with the idea of a user "soft" deleting a limit. Once a user enters a quantity and saves it they could presumably del

[2022-09-21 20:47] davehorton commented on #109
These two tables have an ON CASCADE DELETE foreign key so if a SP or account is deleted the associated rows will be automatically cleared (and the delete operation will not be blocked)

[2022-09-21 20:50] davehorton commented on #109
I agree a delete API is needed, and that once we have that it would be nice to let the user clear an existing limit, have an empty field, click save and have the limit removed in the db -- and the blank field stays blank, not automagically populated with a zero.  I will add the api

[2022-09-21 21:25] davehorton commented on #109
Actually, there is a delete API, I just forgot to put it into the swagger doc (will do that shortly).

[code]

[2022-09-21 21:48] kitajchuk commented on #109
Nice. 👍

[2022-09-21 22:29] kitajchuk commented on #109
@davehorton Okay this is functioning as expected now on the refresh branch with the latest commit here: https://github.com/jambonz/jambonz-webapp/pull/64/commits/e64260bf890c1724fc1758bf970c0cddc3a3a004.

- Only numbers greater than or equal to 0 can be entered
- The field can be emptied to contain no value (signals for :DELETE)
- On save limits are either updated (if a value exists) or deleted (i

[2022-09-22 04:03] xquanluu commented on #109
Added delete Limits to PR for main branch

[2022-09-22 15:39] #103 closed

[2022-09-22 15:45] #27 closed

[2022-09-22 15:45] #44 closed

[2022-09-24 22:26] kitajchuk opened #113 "Bug: MS Teams uses incorrect Accounts and Applications"
The MS Teams view needs to fetch Accounts and Applications by the Current Service Provider and the Application select menu needs to be filtered by the current selected Account.

This update to initial fetches needs to happen in the index list view and the form add/edit view.

[2022-09-26 15:08] kitajchuk opened #116 "Feature: Implement storybook"
This is a WIP issue still...

It may be worthwhile to consider Storybook here as well since we use it for `jambonz-ui` already and could leverage most of the configuration implemented there.

- https://storybook.js.org/docs/react/get-started/introduction
- https://github.com/jambonz/jambonz-ui/tree/main/.storybook
- https://github.com/jambonz/jambonz-ui/tree/main/stories

[2022-09-26 16:56] kitajchuk opened #117 "Feature: Test coverage for src/components"
Refer to original test configuration issue: https://github.com/jambonz/jambonz-webapp/issues/102

**Checklist:**

- [ ] access-control
- [ ] account-filter
- [ ] application-filter
- [ ] clipboard
- [ ] icons.ts
- [ ] index.ts
- [ ] modal
- [ ] obscure
- [ ] pagination
- [ ] require-auth
- [ ] search-filter
- [ ] section
- [ ] select-filter
- [ ] spinner
- [ ] toast
- [ ] tooltip
- [ ] forms/accou

[2022-09-26 17:07] kitajchuk opened #118 "Feature: Test coverage for src/containers"
Refer to original test configuration issue: https://github.com/jambonz/jambonz-webapp/issues/102

**Checklist:**

- [ ] notfound
- [ ] login/create-password.
- [ ] login/layout
- [ ] login/login
- [ ] internal/api-keys
- [ ] internal/navi
- [ ] internal/layout
- [ ] internal/accounts
- [ ] internal/alerts
- [ ] internal/applications
- [ ] internal/carriers
- [ ] internal/ms-teams-tenants
- [ ] int

[2022-09-26 17:15] #102 closed

[2022-09-26 20:05] davehorton commented on #116
ok, but I really dont want to invest any time into new architectural stuff until we implement the multi-user support, as this is really needed.  Its on me to do a bit of design for it, but would rather not launch any other major initiatives till that is done

[2022-09-26 20:20] kitajchuk commented on #116
Sounds good. This stuff isn’t meant to be done right now. I’m just logging the information here to keep track of it. If there’s a better place you’d prefer to keep track of this type of stuff we can move it there. I think the testing is important (much more so than this) but that is also something that doesn’t have to be worked on immediately and can be accomplished over time as time permits. We c

[2022-09-27 08:05] #109 closed

[2022-09-27 08:14] davehorton opened #119 "Feature: Support custom endpoints for Azure speech"
As background, currently when we collect speech credentials for Microsoft/Azure we collect a region and a subscription key.  On the back end, we use this information by connecting to an Azure URL/endpoint for that region when we want to use the credentials to do TTS or STT.

Azure also has the ability for a customer to create a [custom neural voice ](https://learn.microsoft.com/en-us/azure/cogniti

[2022-09-27 08:22] davehorton commented on #119
there is a required change in jambonz-api-server for this.  I will make this now

[2022-09-27 08:34] davehorton commented on #119
this has been committed on the latest main branch of jambonz-api-server, so test with that.  For initial testing, you can enter any thing in the custom endpoint field, just make sure it is saved and retrieved properly.

[2022-09-27 11:12] xquanluu commented on #119
Start working for legacy branch

[2022-09-27 13:39] xquanluu commented on #119
Start working for main branch

[2022-09-27 14:22] kitajchuk commented on #119
@xquanluu Here's some notes for when you get to implementing this on the new app.

For the requirement of only showing the new fields when their corresponding checkboxes are enabled you can use our custom `Checkzone` component. It's used a lot in the application so there's no shortage of examples. The typical model is to have a local state var for the "initial checked state" of the component and t

[2022-09-27 15:05] kitajchuk commented on #119
@davehorton I was playing around with this and it looks like the API doesn't allow you to update the values for these new fields. So when I post if I send `null` for an endpoint and `0` for the checked value the backend doesn't save these values and I am left with still having the previous values of some endpoint string and a `1`...

[2022-09-27 15:08] davehorton commented on #119
hmm, are you testing with the latest (from this morning) jambonz-api-server main branch?

[2022-09-27 15:21] kitajchuk commented on #119
Yes I just pulled maybe like 30 minutes ago...

[2022-09-27 15:33] davehorton commented on #119
ah ok that is a bug on the back-end, I will fix.

Also, the obfuscation of the key is causing an issue with an "update".  On the legacy branch at least, the obfuscated api_key is being sent, which then gets in the database and is invalid.  I guess I will also need a change on the back end to retrieve the existing (valid) key from the db and use that instead of anything sent through from the client

[2022-09-27 15:49] kitajchuk commented on #119
For the obfuscation stuff—the new web app just doesn't send the keys for the PUT requests. So they are only sent on the initial POST and never again:

https://github.com/jambonz/jambonz-webapp/blob/76857c0a4b321b98bb2ab1a70fc818be19b4ec8e/src/containers/internal/views/speech-services/form.tsx#L86-L135

I think it would be good to let them change the region as well as all the new values for this fe

[2022-09-27 16:55] kitajchuk commented on #119
@davehorton Well in an attempt to validate these APIs I basically got this implemented on the new web app. I think the legacy app will need to do something similar as we have here regarding secrets in the payload in order to overcome the secret obscurity issue you're having there.

https://github.com/jambonz/jambonz-webapp/pull/122

[2022-09-27 23:43] davehorton commented on #119
I pushed a commit on jambonz-api-server that I think fixes the problem with updates.

[2022-09-29 00:32] kitajchuk opened #123 "Backlog: Normalize how optional form fields behave"
**TL;DR: Option 2 is the way to go**

**Checklist:**

- [x] Settings form (fine as is—done)
- [x] Account form (fine as is—done)
- [x] Application form (fine as is—done)
- [ ] Carrier form (needs to be converted to option 2 behavior)
- [ ] Speech form (needs to be converted to option 2 behavior—can work the same but is different because it doesn't use `checkzone`)

Currently we handle optional for

[2022-09-29 12:54] davehorton opened #124 "Feature: multi-user branch PR 1 - create password settings screen"
FYI, I am going to create a series of PRs that we can work against for adding the multi-user support.  These should all be worked as PRs off the `feature/multi-user` branch (ie I have checked in that branch, please branch from it and then make PRs against it, when all PRs are complete we will merge to main)

The first one is simple: to add a new panel/form that allows an admin-level user to specif

[2022-09-29 14:36] kitajchuk commented on #124
I think the tabs could work. The only other option would be to have another link in the nav for an entirely new route for Admin settings and I'm not really into that notion lol. For the tabs would we default to Admin tab in first position or Service Provider tab in first position? Note that this only matters for admins long-term as the Service Provider user role would only see the one tab for them

[2022-09-29 15:11] davehorton commented on #124
I would say admin in first position, then service provider.  And yes, seeing the API keys would be fine -- but maybe we relabel them to "Service Provider API Keys" to be clear?

[2022-09-29 22:54] xquanluu commented on #118
start working on  login/create-password

[2022-09-30 03:53] xquanluu commented on #118
start login/layout

[2022-09-30 07:43] davehorton commented on #124
@kitajchuk  @xquanluu  I am keen to get started on this...the multi-user work needs to be the top priority now.  With the decision above, what else do we need to get Hoan started on this?

[2022-09-30 08:01] xquanluu commented on #124
Start working on this. I will try to work with above discussion and then we can review and change like other PR we did when seeing something bad

[2022-09-30 08:40] xquanluu commented on #124
![service_tab](https://user-images.githubusercontent.com/110280845/193229721-cb970f76-5ab9-4f1f-8218-6dbbc6dcc869.PNG)
![admin_tabs](https://user-images.githubusercontent.com/110280845/193229725-d850f6ae-88c6-4157-8465-3d650deba615.PNG)

I want to get confirmation that the settings should be like this layout.

[2022-09-30 08:54] davehorton commented on #124
The tabs look good.  But for the admin settings, I want something easier to use than regex.  It should be simple checkboxes and a dropdown for min password length.  Here is an example -- not exactly on target since it is for generating a password vs password rules -- but look at how intuitive it is:

![image](https://user-images.githubusercontent.com/1884973/193232154-7564b483-c94d-4645-8b96-b4f11

[2022-09-30 09:05] xquanluu commented on #124
@davehorton yes sure, I will work on that soon.

[2022-09-30 09:09] davehorton commented on #124
yes, maybe work on that first, actually, while we wait for @kitajchuk  to chime in on the UI

[2022-09-30 13:54] kitajchuk commented on #124
@xquanluu We discussed putting the tabs inside the form section similar to how we did on the carrier view. That would be a desirable change since as they are now they look/feel broken or out of place.

[2022-10-01 07:52] xquanluu commented on #124
Thanks @kitajchuk sure fixing it now
@davehorton api-server PR created https://github.com/jambonz/jambonz-api-server/pull/65/files

[2022-10-02 10:25] kitajchuk opened #129 "Backlog: Non-component test coverage"
We could use Vitest for this level of unit testing: https://vitest.dev/guide/features.html

**Checklist:**

- [ ] src/utils
- [ ] src/api
- [ ] src/store
- [ ] src/router
- [ ] src/vendor

[2022-10-03 08:03] xquanluu commented on #124
![service_tab](https://user-images.githubusercontent.com/110280845/193528925-314310c4-bfea-4e92-acaf-a9e73ee4aff9.PNG)
![admin_tabs](https://user-images.githubusercontent.com/110280845/193528928-5c09b342-8e77-4524-b941-9cc47ba8f2a2.PNG)

[2022-10-03 08:04] xquanluu commented on #124
I just made this change to the UI, please help to check if this is fine?

[2022-10-03 08:44] xquanluu commented on #124
![new_settings](https://user-images.githubusercontent.com/110280845/193536162-c63b10a4-2897-470b-a5b5-f53da0b929d5.PNG)
 Or the Tabs should be like this?

[2022-10-03 13:29] kitajchuk commented on #124
In my prior comment I said “ In this case we can render the tabs right below the first field set with the message about required fields.” That’s what we would like to see here so none of these are doing that 🤔

[2022-10-03 14:03] kitajchuk commented on #124
Close but there’s double padding around the tabs. You may have wrapped the tabs in a field set which you don’t need to do. We have some styles that target the UI tabs in the forms already:

https://github.com/jambonz/jambonz-webapp/blob/052ea4d6cb79b2bd55218bfcb738624d28ae471a/src/styles/_forms.scss#L86

And if you look at the carrier form you’ll see we don’t wrap the tabs in a field set:

https:/

[2022-10-03 14:10] xquanluu commented on #124
Thanks a lot @kitajchuk , I fixed it,

here is first draft PR: https://github.com/jambonz/jambonz-webapp/pull/130

It's really great if I can have your review and give comment if there is issue, anti-pattern ..etc in the PR so I can fix it.

[2022-10-04 17:34] davehorton commented on #119
minor change request (on both legacy and main)

Can we change the label "Custom speech endpoint" to "Custom speech endpoint Id"

[2022-10-04 23:20] xquanluu commented on #119
PRs created, please help to review

[2022-10-06 09:07] davehorton opened #135 "Need additional inputs on Carrier form to support outbound registration"
Currently, when configuring a carrier that requires registration we have these input fields to complete:

![image](https://user-images.githubusercontent.com/1884973/194271145-199a786d-1e72-44f8-86cd-40d3f3428ef1.png)

Recently, we added a few more options to the database, which allow you to also specify some other settings on the REGISTER requests that will be sent:

- the from user (appears in th

[2022-10-07 08:03] davehorton commented on #135
I will take this

[2022-10-07 08:53] davehorton commented on #135
added in v0.7.7-rc7 on legacy branch, still needs to be added on main branch

[2022-10-18 15:47] #119 closed

[2022-10-18 15:51] kitajchuk commented on #135
@davehorton This could be a good ice breaker for the new developer to tackle 🤔

[2022-10-19 12:02] davehorton commented on #135
Hi Egle - I might have mentioned that we have two active branches:
- 'legacy' - this is the older branch (which your are probably familiar with), dates from before we did a UI makeover and code cleanup
- 'main' - this is the newer branch that you would mostly be working on

This particular feature (the addition of some new fields on the Carrier panel) I actually did on the legacy branch recently.

[2022-10-23 15:35] #135 closed

[2022-10-23 18:13] davehorton commented on #124
@EgleHelms I think all this PR needs is to be rebased off the latest main branch.  Could you do that?  Also, make sure to pull the latest main branch of jambonz-api-server for testing, as I just merged in the API (/PasswordSettings) that this feature uses.

[2022-10-24 15:17] davehorton opened #139 "Feature: Multi-user: Changes to initial admin login processing / implement JWT"
When a fresh system is deployed, there is some first-time login logic that occurs.  Currently, upon first logging into a fresh system the admin user is forced to change their password.  Once they have set a new password they proceed to the main page of the portal.

Authentication is currently done by means of a pre-generated API key.  This is not desirable, and we would like to change to jwt authe

[2022-10-25 14:39] #124 closed

[2022-10-25 14:55] kitajchuk commented on #139
@davehorton It seems like this one is not quite ready to bite off yet as some backend work needs to be done correct? As for the JWT swap this is easy enough. There are no references to the `token` as an `API key` in the code, we simply store it as `token` and refer to it as such. This is pretty much all handled in the `auth` context file:

https://github.com/jambonz/jambonz-webapp/blob/main/src/ro

[2022-10-25 15:45] EgleHelms commented on #139
@kitajchuk @davehorton one thing on the frontend we might need to do is to re-route to the login page again after changing the password for the user to use the new password and the jwt token.

[2022-10-25 16:37] davehorton commented on #139
@EgleHelms I have made the changes to the back end on the the branch named `feature/jwt-auth`.  Can you check out and test against that?  This version returns you a token that is a jwt with an expiration of 1 hour (maybe we should make that configurable)?

Currently, you need to test by setting the env JAMBONES_AUTH_USE_JWT to true in order to get a jwt returned as token, so start the integration

[2022-10-25 17:11] davehorton commented on #139
@kitajchuk @EgleHelms is there additional information you would like to see in the jwt token?  I thought the scope and permissions would be the key thing, but easy enough to return additional info if needed.

[2022-10-26 00:02] davehorton opened #141 "Feature: admin user should be able to create other admin users"
The initial admin user should be able to create additional admin-level users.  In order to do so, we need a Users panel that has add/modify/delete capabilities.  I suppose it should follow the style of similar listview/detail panels in the UI such as Accounts, Applications, etc

@kitajchuk initially I was thinking that there could be a new "Users" tab as part of the Settings panel, but now I wonde

[2022-10-26 09:33] EgleHelms commented on #139
@davehorton @kitajchuk
Everything works well without any changes, the jwt is given from the initial login with admin/admin creds, so I think that is good enough. Unless we want to force logout and give a new token, since right now the token stays the same since the admin/admin login.
Brandon's suggestion works. When I parse the jwt token stored in the sessionStorage it looks like the object from y

[2022-10-26 11:37] davehorton commented on #139
@kitajchuk when you get a chance can you weigh in on
1. should we merge this PR as is (no forced re-login)
2. should we make the assumption we will always be able to parse the jwt, even in the future, or is this some fluky type of thing we should not depend on?

[2022-10-26 14:13] kitajchuk commented on #139
Let me review things this morning and test it all out. Ideally we parse the JWT and put the user info into the global store. For a client session the app can use the data there (I know we’re not there yet, just saying). Since we use local storage what is the expiry on the JWT? The api key tokens seemed to last forever until you actually logged out and cleared local storage. We may need to test JWT

[2022-10-26 15:11] kitajchuk commented on #139
Do we have a refresh token?

[2022-10-26 15:27] kitajchuk commented on #139
@davehorton @EgleHelms Okay I think mostly things can work as is with the change on the backend. However I would like to implement the proper updates to our typings etc for API regarding this stuff so lemme do that and I'll push to the branch I have up already.

[2022-10-26 15:59] davehorton opened #142 "add support for Nuance as a Speech Provider"
We are in the process adding support for Nuance as a speech provider, so we need to add them as a choice in the dropdown for the Speech Credentials panel.  When you select Nuance you should be prompted to enter the following credentials:
- client id
- secret

You can select either tts or stt or both.

The list of languages that are supported by Nuance for STT and TTS can be found here:

https://do

[2022-10-26 16:00] kitajchuk commented on #139
@davehorton @EgleHelms Okay you can review this PR. I think this is bare minimum to work with the JWT while not actually doing anything with the user data yet. This includes updates to our typings for the API and actually hooking up the user action for the global store which just parses the data from the JWT. Haven't tested expiration yet but I'm assuming it would shake out fine because of how our

[2022-10-26 16:07] davehorton commented on #139
there is no refresh token atm.  You just get logged out.  Can we accept and merge this PR and do a refresh token as a separate PR if we want one?  (I am not up to speed on whether that is the best/common practice, etc)

[2022-10-26 16:09] davehorton commented on #139
PR #140 you mention looks fine for me.  Does this mean @EgleHelms  should push more changes to this branch now to stick the decoded properties into the global store before we accept and merge this PR?

[2022-10-26 16:11] davehorton commented on #141
@kitajchuk can you give your thoughts about how/where we should position the Users listview panel in the app?

[2022-10-26 16:19] kitajchuk commented on #141
I think having a users nav on the left is probably best. So it would need to be in the top list, not the BYO list.

[2022-10-26 16:20] kitajchuk commented on #139
No because I already included that in this PR 👍

[2022-10-26 22:19] davehorton commented on #142
I realize that the data for nuance TTS voices needs to be slightly different than the others.  That is because in addition to language and voice, nuance has a 'model' attribute which can be either 'standard' or 'enhanced'.  So as far as what we will need to save to the database when a user selects a tts voice it will be a tuple of {language, voice, model}.

I will get a better dump of nuance voice

[2022-10-27 00:45] davehorton commented on #139
completed

[2022-10-27 00:45] #139 closed

[2022-10-27 01:01] davehorton commented on #142
I've pushed a branch "feature/nuance-speech" which has the types and data for nuance stt and tts.

@EgleHelms can you pick up and work off this branch?

First thing will be to get the dropdown working in the Application view so you can select Nuance for either STT and/or TTS and see the appropriate/supported languages and voices.

When showing the voice in the applications panel for a given langua

[2022-10-27 02:33] davehorton commented on #142
I've checked in a branch called feature/nuance-speech in the jambonz-api-server repo that attempts to support adding and testing nuance speech credentials.  You can test against this -- I am not sure it works because I have not actually tested it myself, but give it a try

[2022-10-28 11:30] EgleHelms commented on #142
@davehorton please check need some feedback: https://github.com/jambonz/jambonz-webapp/pull/144

[2022-10-31 13:10] davehorton opened #145 ""Invalid date" showing in Recent Calls and Alerts panels"
![image](https://user-images.githubusercontent.com/1884973/199015490-b7136118-6314-4cd2-8415-90260ff2708a.png)

[2022-10-31 13:12] davehorton opened #146 ""Select a predefined carrier" does not work on main branch"
Selecting a predefined carrier from the dropdown when creating a carrier does not populate the sip gateways for that carrier.

[2022-10-31 15:17] satyamrs00 commented on #145
im working on this

[2022-11-05 17:16] davehorton commented on #146
If we look on legacy branch, where it does work, we can see that when the user selects a predefined carrier from the list we execute [this api](https://github.com/jambonz/jambonz-webapp/blob/b8c67143bd20962bda53e757d67d5d48b3cfb2bb/src/components/forms/CarrierForm.js#L1270).

That sends a POST to `/ServiceProviders/${currentServiceProvider}/PredefinedCarriers/:predefined_carrier_sid`, which create

[2022-11-07 18:46] davehorton commented on #142
looks good, merged.

[2022-11-07 18:46] #142 closed

[2022-11-08 17:53] EgleHelms commented on #141
@davehorton @kitajchuk  this is the current state:
Users list page:
![image](https://user-images.githubusercontent.com/63853378/200633404-8fff7fb1-b84b-4cb2-9855-f35872ec05a1.png)

I can also make the usersList more like a table, similar to API keys in the Account view. Or do we want to do something completely different from what we already have?

User Edit form:
![image](https://user-images.githu

[2022-11-09 04:31] davehorton commented on #141
@EgleHelms yes, why dont you create a branch off main in jambonz-api-server and create the api calls that you need there.

[2022-11-09 14:09] davehorton commented on #141
Yes, I definitely think the users listview needs to be "table-like".  There could be large numbers of them and a table view makes most sense, along with the ability to filiter by:
- admin users only
- users for a service provider (dropdown select of service providers to choose from, show both service provider users as well as account users under the selected service provider
- users for an account

[2022-11-09 14:11] davehorton commented on #141
I think there should be a checkbox labeled "Show admin users", when checked the dropdowns for service provider and account are hidden.  When unchecked, the dropdown for service provider is shown and, if a service provider is selected, then dropdown for accounts is shown.  Both of these dropdowns should have a choice "All" to show all service providers or all accounts for a service provider

[2022-11-10 18:12] davehorton commented on #145
any progress @satyamrs00 ?

[2022-11-10 18:17] davehorton opened #148 "Add support for Deepgram as an STT vendor"
Deepgram should be added to the dropdown select of speech vendors.  They only provide an STT service, so the "use for tts" checkbox should not be visible, and the "use for stt" should be visible and checked.  The user should not be able to uncheck it either.

The credentials that must be gathered for Deepgram are two properties:

- Endpoint: this should default to "api.deepgram.com"
- Api Key: thi

[2022-11-10 19:06] davehorton commented on #148
also, the vendor property shall be 'deepgram' (all lower case)

[2022-11-10 19:36] davehorton commented on #148
I have pushed a commit to the main branch of jambonz-api-server that adds support for deepgram STT, including testing.
(note: you can get a free api key by going to https://deepgram.com/ and signing up for a free trial).

So this can now be tested by using the latest on the main branch of jambonz-api-server

[2022-11-11 12:56] #146 closed, assigned to EgleHelms

[2022-11-11 15:22] davehorton commented on #141
@EgleHelms when adding a new user, in the add user form we should not see the Delete button

![image](https://user-images.githubusercontent.com/1884973/201370929-aafea2f3-1ea3-4f19-a0ac-2cf22309a526.png)

[2022-11-11 15:32] kitajchuk commented on #141
@davehorton @EgleHelms I will review this branch this weekend and provide feedback on UI etc 👍

[2022-11-11 15:37] EgleHelms commented on #141
Yeah, I already fixed the delete button when adding the new user :) I also noticed it.
@davehorton I believe you should be able to delete your own user, why not? Just probably I should log the deleted user out and remove the jwt in the localstorage instead of now it makes no difference since the jwt is valid for an hour. Or do you still think we should not allow the deletion of your own users?

[2022-11-11 15:41] kitajchuk commented on #141
@EgleHelms Can you open a Draft PR for this branch for now. I did a quick look at the compare diff for the branch and have plenty of feedback so might be nice to get it open so I can start adding feedback to dial things in :)

[2022-11-11 15:41] EgleHelms commented on #141
I already pushed the password check for the temp password.
Just FYI only the search filter is working.

@kitajchuk I think I will need your help with the other filtering (service_provider, account, admin). I was not yet able to figure out how to correctly manage the state of the filters and how to combine the results.

[2022-11-11 15:41] EgleHelms commented on #141
yeah, will do.

[2022-11-11 15:47] kitajchuk commented on #141
Sure thing. I’ll take a deeper look this weekend and get feedback in there for you.

[2022-11-11 15:52] davehorton commented on #141
Hmm, that is a good question I guess.  Perhaps it makes sense, just as you say you must immediately log them out and also make sure they don't delete the last active admin user (I see you already have this check, may need to add a check that it is indeed active so we dont have a state where we have only one admin user but they are inactive)

[2022-11-11 15:55] kitajchuk commented on #141
Regardless of safety checks for this on the frontend the backend should also enforce these rules. Does it?

[2022-11-11 15:56] davehorton commented on #141
Good point.  Currently it does not

[2022-11-14 08:47] EgleHelms commented on #148
@davehorton how should I map the language vs list them in the dropdown.
Here is the language list:https://developers.deepgram.com/documentation/features/language/
They seem to have a "model" and "tier". Shall we do something similar we did with Nuance? to kind of split the name string to fill in these fields on the backend?

[2022-11-21 14:48] kitajchuk opened #153 "Feature: User scope"
Maybe I can articulate generally what I'm thinking about here (high-level) so we’re all on the same page regarding user scope implementation on the FE.

We already did the first part which was to implement the JWT and parse user data from that!

Which brings me to the next piece: scope. I created a basic ACL concept which supported the singleton Admin concept and is currently only practically used

[2022-11-21 14:49] kitajchuk commented on #153
@EgleHelms @davehorton This is the high level of my thinking in general user permissions 👍

[2022-11-22 08:53] EgleHelms commented on #153
@kitajchuk currently the "permissions" do not play a role at all.
We are limiting and building everything according to the 3 scopes for users - admin/SP/account. And for that, we haven't implemented the enum approach. Let me know if we should use this for the scope too.
Also, I think that the ACL component works well with the parseJwt concept. We can condition different scopes and create props lik

[2022-11-23 16:12] kitajchuk commented on #153
@EgleHelms @davehorton looks like I’m not going to have time to do the setup so I’ll outline what I was thinking a bit more concretely here and @EgleHelms will be able to run with it.

Okay so first we’d want a UserScopes enum. I originally stubbed a comment in as permissions but you can just switch the enum concept to be for scope:

https://github.com/jambonz/jambonz-webapp/blob/b1a4c0403190087f8

[2022-11-23 18:12] #141 closed

[2022-11-25 13:43] davehorton opened #155 "support for IBM watson speech"
The webapp should be able to provision speech credentials for IBM watson.  IBM can be used for both tts and stt.  The payload when creating a new credential for IBM shall be like this
[code]

Note that for IMB it is common to have different api keys (and regions) for tts and stt so we force the user to enter them both (unless of course they are only using ibm for tts and not stt, or vice-versa).

[2022-11-29 15:19] #153 closed